.parent {
    width: 100%;
    height: 40%;
    position: relative;
}

.shuffleGame__moveIt-btn {
    margin: 10px;
    color: #eee;
    font-size: 22px;
}
.shuffleGame__moveIt-btn:hover {
    color: #000;
}

.shuffleGame__checkResult-btn {
    display: inline-block;
    margin: 0 auto;
    padding: 5px 20px;
    font-size: 33px;
    color: var(--text-color);

    border-radius: 20px;
    background: rgba(250, 241, 255, 0.6);
    box-shadow: 5px 5px 20px #d97b93, -5px -5px 20px #ecd0fc;
}
.shuffleGame__checkResult-btn:hover {
    background: rgba(250, 241, 255, 0.9);
    box-shadow: 5px 5px 10px #f17c99, -5px -5px 10px #ccb0dd;
}

.shuffleGame--wrongBtn {
    background-color: var(--bg-dark-color);
    color: var(--light-text-color);
}
.shuffleGame--correctBtn {
    background-color: var(--dark-active-color);
    color: var(--light-text-color);
}