:root {
    --text-color: #957DAD;
    --dark-text-color: #78618f;
    --light-text-color: #ecd0fc;
    --bg-color: #FEC8D8;
    --bg-dark-color: #93668e;
    --button-color: #D291BC;
    --active-color: #c6fced;
    --dark-active-color: #00a987;
}